@model RecreioFerias.Models.Aluno

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <h4>Alunos</h4>

    <hr />

    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h4><i class="bi bi-trash"></i>Confirmar Exclusão</h4>
            </div>
            <div class="card-body">
                <p>Tem certeza que deseja excluir este Aluno? </p>
                <div class="row mb-3">


                    <label class="col-md-1"><b>Nome: </b></label>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.Nome)
                    </div>

                    <label class="col-md-2"><b>Data de Nascimento: </b></label>
                    <div class="col-md-4">
                        @Html.DisplayFor(model => model.DataNascimento)
                </div>
                    
                </div>
               
                <br />

                <form asp-action="Delete">
                    <input type="hidden" asp-for="AlunoId" />
                    <button class="btn btn-danger" value="Delete" type="submit">
                        <i class="bi bi-trash" style="vertical-align: middle;"></i>&#32 Apagar
                        @* <input type="submit" value="Delete" class="btn btn-danger" />  *@
                    </button>
                    &#32&#32&#32&#32
                    <a asp-action="Index" class="btn btn-outline-secondary small" style="color:darkgray">
                        <i class="bi bi-arrow-left-square"></i>&#32 <b>Voltar</b>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
