@{
    ViewData["Title"] = "Página Inicial";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="container">
    <div class="row align-items-center">
        <img src="@Url.Content("~/imagens/recreio_nas_ferias_logo.png")" alt="Logo da Aplicação" style="width: 350px; height:100px;">

    </div>
    <br />
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
        <div class="card card-azul">
            <div class="card-body">
                    <h5 class="card-title">Gestão de Alunos</h5>
                    <p class="card-text">Gerencie os alunos do sistema.</p>
                    <a href="/Alunos" class="btn btn-primary">Acessar</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="card card-roxo">
                <div class="card-body">
                    <h5 class="card-title">Gestão de Turmas</h5>
                    <p class="card-text">Gerencie as turmas do sistema.</p>
                    <a href="/Turmas" class="btn button-roxo ">Acessar</a>
                </div>
            </div>
        </div>


        <!-- Card 3 -->
        @* <div class="col-md-4">
            <div class="card card-amarelo">
                <div class="card-body">
                    <h5 class="card-title">Matriculas</h5>
                    <p class="card-text">Gerencie as matriculas do sistema.</p>
                    <a href="/Matriculas" class="btn button-amarelo">Acessar</a>
                </div>
            </div>
        </div> *@

        </div>
        <br />
        <br />
    <div class="row">
        <!-- Card 4 -->
       @*  <div class="col-md-4">
            <div class="card card-laranja">
                <div class="card-body">
                    <h5 class="card-title">Relatórios</h5>
                    <p class="card-text">Visualize e gere relatórios detalhados.</p>
                    <a href="/Relatorios" class="btn button-laranja">Acessar</a>
                </div>
            </div>
        </div> *@

        <!-- Card 5 -->
      @*   <div class="col-md-4">
            <div class="card card-verde">
                <div class="card-body">
                    <h5 class="card-title">Frequência</h5>
                    <p class="card-text">Aponte a Frequencência dos alunos.</p>
                    <a href="/Frequencia" class="btn button-verde">Acessar</a>
                </div>
            </div>
        </div>
 *@

        <div class="col-md-4">
            <div class="card card-amarelo">
                <div class="card-body">
                    <h5 class="card-title">Matriculas</h5>
                    <p class="card-text">Gerencie as matriculas do sistema.</p>
                    <a href="/Matriculas" class="btn button-amarelo">Acessar</a>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-4">
            <div class="card card-rosa">
                <div class="card-body">
                    <h5 class="card-title">Operadores</h5>
                    <p class="card-text">Gerencie os usuarios do sistema.</p>
                    <a href="/Operadores" class="btn button-rosa">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>