@model RecreioFerias.Models.Operador

@{
    ViewData["Title"] = "Login";
  
}



<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="width: 24rem;">
        <main class="form-signin w-100">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-header">
                    <h1 class="h3 mb-3 fw-normal text-center">Por Favor Faça o Login</h1>
                </div>
                <div class="card-body">
                    <p class="text-center fs-6">Entre com seu login e senha</p>
                <div class="form-floating mb-3">
                    <input asp-for="Login" class="form-control" placeholder="Login" />
                    <label for="Login">Login</label>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Senha" class="form-control" type="password" placeholder="Senha" />
                    <label for="Senha">Senha</label>
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                </div>
                <div class="card-footer">
                <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
                </div>
            </form>
        </main>
    </div>
</div>
